body {  /*center the grid*/
    text-align: center;  
  }
  
  #connect4 {  /*connect4 object is the grid*/
    background-color: #yellow;
    display: inline-block;
  }

  .col {  /*Each column needs a particular width & height*/
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%; /*rounds the grid*/
    margin: 5px; /*allows this to appear more like a grid*/
  }
  
  .col.empty { /*Hover over empty cells & become a pointer*/
    cursor: pointer;
  }
  
  .next-red { /*object changes the background for the red player to identify where they may place their token*/
    background-color: rgba(255, 0, 0, 0.2);
  }
  
  .next-blue{ /*connect4 object is the grid*/
    background-color: rgba(11, 26, 236, 0.2);
  }
  
  .col.red { /*connect4 object is the grid*/
    background-color: red;
  }
  
  .col.blue { /*object changes the background for the blue player to identify where they may place their token*/
    background-color: blue;
  }
