body {
  /*center the grid*/
  text-align: center;
  background-color: #3c3c3d;
  background-image: radial-gradient(
      circle at 44% 9%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 74%,
      transparent 74%,
      transparent 83%,
      transparent 83%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 23%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 8%,
      transparent 8%,
      transparent 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 87% 35%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 10%,
      transparent 10%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 7%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 16%,
      transparent 16%,
      transparent 88%,
      transparent 88%,
      transparent 100%
    ),
    radial-gradient(
      circle at 37% 26%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 7%,
      transparent 7%,
      transparent 9%,
      transparent 9%,
      transparent 100%
    ),
    radial-gradient(
      circle at 86% 59%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 77%,
      transparent 77%,
      transparent 95%,
      transparent 95%,
      transparent 100%
    ),
    radial-gradient(
      circle at 75% 83%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 35%,
      transparent 35%,
      transparent 86%,
      transparent 86%,
      transparent 100%
    ),
    linear-gradient(0deg, hsl(279, 0%, 100%), hsl(279, 0%, 100%));
}
.box {
  background-color: #d3d3d3;
  padding: 10px;
  border: 1px solid #333333;
}

h1,
h4,
.player {
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
  font-weight: 2em;
  color: #04b5e5;
}

.playerbox {
  position: absolute;
  width: 220px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left:20%;
  right: 50%;
  margin: -100px 0 0 -150px;
  background: yellow;
  justify-content: space-between;
  border: 1px solid #04b5e5;
  box-sizing: border-box;
  filter: drop-shadow(5px 5px 10px black);

}
.playerbox :first-child {
  align-self: center;
}

#connect4 {
  /*connect4 object is the grid*/
  margin-top: 1em;
  background-color: #006097;
  display: inline-block;
  filter: drop-shadow(5px 5px 10px black);
}

.button {
  width: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
  background-color: transparent;
  border: 3px solid #00b5e5;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00b5e5;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #00b5e5 inset, 0 0 20px 2px #00b5e5;
  border: 3px solid #00b5e5;
}
.col {
  /*Each column needs a particular width & height to make it rounded*/
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%; /*rounds the grid*/
  margin: 5px; /*allows this to appear more like a grid*/
}

.col.empty {
  /*Hover over empty cells & become a pointer*/
  cursor: pointer;
}

.next-DashCoin {
  /*object changes the background for the red player to identify where they may place their token*/
  background-color: rgba(213, 68, 68, 0.68);
}

.next-Bitcoin {
  /*capital Yellow here so DOM can recognize it*/
  background-color: rgba(221, 205, 60, 0.76);
}

.col.DashCoin {
  /*connect4 object is the grid*/

  background-image: url(assets/dash.jpg);
  background-size: cover;
  border: 2px solid white;
}

.col.Bitcoin {
  /*object changes the background for the yellow player to identify where they may place their token*/
  background-image: url(assets/bitcoin.jpg);
  background-size: cover;
  border: 2px solid white;
}
