body {  /*center the grid*/
    text-align: center;  
  }
  
  #connect4 {  /*connect4 object is the grid*/
    background-color: blue;
    display: inline-block;
  }

  .col {  /*Each column needs a particular width & height*/
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%; /*rounds the grid*/
    margin: 5px; /*allows this to appear more like a grid*/
  }
  
  .col.empty { /*Hover over empty cells & become a pointer*/
    cursor: pointer;
  }
  
  .next-DashCoin{ /*object changes the background for the red player to identify where they may place their token*/
    background-color: rgba(213, 68, 68, 0.68)
  }
  
  .next-Bitcoin{ /*capital Yellow here so DOM can recognize it*/
    background-color: rgba(221, 205, 60, 0.76)
  }
  
  .col.DashCoin { /*connect4 object is the grid*/
    /*background-color: red;*/
    background-image: url(assets/dash.jpg);
    background-size: cover;
	border: 2px solid white;
  }
  
  .col.Bitcoin { /*object changes the background for the blue player to identify where they may place their token*/
    background-image: url(assets/bitcoin.jpg);
    background-size: cover;
	border: 2px solid white;
  }
